{% extends 'base.html.twig' %}

{% block title %}
	Serviceo - Services
{% endblock %}

{% block body %}
	<div class="container">

	<p>Voici tous nos services :</p>
	<hr>
	<div class="row p-4">
		{% for service in services %}
			<div class="col-6">
				<div class="card">
					<div class="card-header">
						<h4> Zone de {{ service.name }}</h4>
					</div>
					<div class="card-footer">
						{# <a href="{{ path('service', {id: service.id}) }}" class="btn btn-block btn-outline-primary">Voir le service</a> #}
						<a href="service/{{service.id}}" class="btn btn-block btn-outline-primary">Voir le service</a>
					
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

		<a href="/" class="btn btn-outline-primary mt-2">Revenir à l'accueil</a>
	</div>
{% endblock %}
