{% extends 'base.html.twig' %}

{% block title %}Sericeo
{% endblock %}

{% block body %}

	<h1>Bienvenue sur Serviceo
	</h1>
	<hr>
	<div class="row">

		<a href="/service" class="btn btn-block btn-outline-primary">Voir les services</a>

	</div>
{% endblock %}
